<footer>© 
    <span id="year"></span> | 
    <a id="footer-axel" href="/about">Axel Lindh</a> | 
    <a id="ju" target="_blank" href="https://ju.se/">Jönköping University</a> | 
    <a id="footer-socials" target="_blank" href="https://www.instagram.com/_axellindh_/"><i class="fa fa-instagram"></i></a> 
    <a id="footer-socials" target="_blank" href="https://www.instagram.com/_axellindh_/"><i class="fa fa-snapchat"></i></a> 
    <a id="footer-socials" target="_blank" href="https://www.snapchat.com/add/freerunaxel?invite_id=Db26nkM3&locale=sv_SE&share_id=n21AthKZScmVY9gF7vnM4A&sid=707c775d500f49b5bdeaa8916d7897c8"><i class="fa fa-linkedin-square"></i></a>
</footer>

<script src="/js/counter.js"></script>