<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Jönköping Core</title>
        <link rel="icon" href="/img/icons/title-icon.jpg" type="image/jpg">

        {{!-- jquery --}}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

        {{!-- spectre --}}
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
        {{!-- my styles --}}
        <link rel="stylesheet" href="/css/styles-al.css">
        {{!-- font awesome --}}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
    </head>
    <body>
        {{> menu}}
        {{{body}}}
        {{> footer}}
    </body>
</html>
