<div id="main">
    <div>
        <h1><img class="error" src="https://www.freeiconspng.com/thumbs/error-icon/error-icon-15.png" alt="red triangle with white exlamation mark">Error 404: NOT FOUND</h1>
        <div>
            Sorry, the requested page was not found on this site.<br />
			Please consider going back to the <a class="error-link" href="/">home page</a>.
        </div>
    </div>
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>