<div id="main">
    <div>
        <section class="intro">
            <img src="https://images.ctfassets.net/nwbqij9m1jag/1ZjlGef8qtAK9YOMyRUmPt/d5b1001d5b248530eb5615b574006a6e/Jonkoping_MorgonljusEDIT.jpg" alt="drönarbild över jönköping city">
        </section>
    </div>
</div>